<%= form_with(model: provider) do |form| %>
  <% if provider.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
        <% provider.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :office_id, style: "display: block" %>
    <%= form.select(:office_id, Office.select_collection,
      { include_blank: false,
        prompt: true,
        selected: provider.office_id || true
      },
      { class: "block mt-2 py-3 pl-3 text-gray-900 font-medium rounded-md border-0 shadow ring",
        disabled: false
      }
    ) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
