<p style="color: green"><%= notice %></p>

<h1>Providers</h1>

<div id="providers">
  <% @providers.each do |provider| %>
    <%= render provider %>
    <p>
      <%= link_to "Show this provider", provider %>
    </p>
  <% end %>
</div>

<br>
<%== pagy_nav(@pagy) %>
<hr class='mt-1 border-1 border-gray-700' />
<br>

<%= link_to "New provider", new_provider_path %>
