<p style="color: green"><%= notice %></p>

<div class="flex flex-col items-center justify-center">

  <div class='grid grid-rows-auto'>
    <div class='row-start-1 max-h-fit'>
      <%= render 'service' %>
    </div>

    <div class='row-start-2 h-fit my-3'>
      <%= render "shared/show/edit_btn", path: edit_service_path(@service) %>
      <%= render "shared/show/back_btn", path: services_path %>
      <%= render "shared/show/delete_btn", path: service_path(@service) %>
    </div>
  </div>

</div>
