<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/text_field', attrib: :name, form: form %>
</div>

<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/text_field', attrib: :street1, form: form %>
  <%= render 'shared/form/text_field', attrib: :street2, form: form %>
</div>

<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/text_field', attrib: :city, form: form %>
  <%= render 'shared/form/text_field', attrib: :state, form: form %>
  <%= render 'shared/form/text_field', attrib: :zip, form: form %>
</div>

<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/phone_field',
                    attrib: :ph_main,
                    label_txt: 'Phone - Main',
                    form: form %>
</div>
