<%= form_with(model: office) do |form| %>
  <% if office.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
        <% office.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :street1, style: "display: block" %>
    <%= form.text_field :street1 %>
  </div>

  <div>
    <%= form.label :street2, style: "display: block" %>
    <%= form.text_field :street2 %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :zip, style: "display: block" %>
    <%= form.text_field :zip %>
  </div>

  <div>
    <%= form.label :ph_main, style: "display: block" %>
    <%= form.telephone_field :ph_main,
                              placeholder: "123-456-7890",
                              pattern: Office.ph_pattern %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
