<div id="<%= dom_id office %>">
  <p>
    <strong>Name:</strong>
    <%= office.name %>
  </p>

  <p>
    <strong>Street1:</strong>
    <%= office.street1 %>
  </p>

  <p>
    <strong>Street2:</strong>
    <%= office.street2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= office.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= office.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= office.zip %>
  </p>

  <p>
    <strong>Ph main:</strong>
    <%= office.ph_main %>
  </p>

</div>
