  <tr class='<%= background %>' >
    <td class='td-pad td-base'><%= p2p.date_of_p2p %></td>
    <td class='td-pad td-base'><%= p2p.time_of_p2p %></td>
    <td class='td-pad td-base'><%= p2p.duration %></td>
    <td class='td-pad td-base'><%= p2p.provider %></td>
    <td class='td-pad td-base'><%= p2p.peer %></td>
    <td class='td-pad td-base hidden lg:table-cell'><%= p2p.note_hint %></td>
    <td scope="col" class="th-pad th-base">
      <%= link_to 'Edit',
            edit_precert_peer2peer_path(p2p.precert, p2p),
            class: 'link-hover' %> </td>
  </tr>
