<div id="<%= dom_id call %>">
  <p>
    <strong>Precert:</strong>
    <%= call.precert_id %>
  </p>

  <p>
    <strong>Call time:</strong>
    <%= call.call_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= call.duration %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= call.note %>
  </p>

</div>
