  <tr class='<%= background %>' >
    <td class='td-pad td-base'><%= contact.date_of_contact %></td>
    <td class='td-pad td-base'><%= contact.time_of_contact %></td>
    <td class='td-pad td-base'><%= contact.dur_of_contact %></td>
    <td class='td-pad td-base hidden lg:table-cell'><%= contact.note_hint %></td>
    <td scope="col" class="th-pad th-base-right">
      <%= link_to 'Edit',
            edit_precert_contact_path(contact.precert, contact),
            class: 'link-hover' %> </td>
  </tr>
