<p style="color: green"><%= notice %></p>

<h1>Insurers</h1>

<div id="insurers">
  <% @insurers.each do |insurer| %>
    <%= render insurer %>
    <p>
      <%= link_to "Show this insurer", insurer %>
    </p>
  <% end %>
</div>

<br>
<%== pagy_nav(@pagy) %>
<hr class='mt-1 border-1 border-gray-700' />
<br>

<%= link_to "New insurer", new_insurer_path %>
