<p style="color: green"><%= notice %></p>

<%= render @insurer %>

<div>
  <%= link_to "Edit this insurer", edit_insurer_path(@insurer) %> |
  <%= link_to "Back to insurers", insurers_path %>

  <%= button_to "Destroy this insurer", @insurer, method: :delete %>
</div>
