<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/text_field', attrib: :patientMRN, form: form %>
</div>

<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/select_field', attrib: :provider_id, form: form,
                  label_txt: 'Provider',
                  collection: Provider.select_collection,
                  include_blank: true,
                  selected: mdl.provider_id %>
  <%= render 'shared/form/select_field', attrib: :diagnosis_id, form: form,
                  label_txt: 'Diagnosis',
                  collection: Diagnosis.grouped_select_collection,
                  include_blank: true,
                  selected: mdl.diagnosis_id %>
  <%= render 'shared/form/select_field', attrib: :service_id, form: form,
                  label_txt: 'Service',
                  collection: Service.grouped_select_collection,
                  include_blank: true,
                  selected: mdl.service_id %>
</div>

<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/date_field', attrib: :submission_date, form: form %>
  <%= render 'shared/form/select_field', attrib: :insurer_id, form: form,
                  label_txt: 'Insurer',
                  collection: Insurer.select_collection,
                  include_blank: true,
                  selected: mdl.insurer_id %>
</div>

<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/date_field', attrib: :approval_date, form: form %>
  <%= render 'shared/form/text_field', attrib: :confirmation, form: form %>
</div>

<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/date_field', attrib: :closed_date, form: form %>
</div>

<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/text_area',
          attrib: :note,
          cols: 36,
          rows: 1,
          form: form %>
</div>
<%= form.hidden_field :status, value: :created %>
<%= form.hidden_field :approved, value: false %>
