  <tr class='<%= background %>' >
    <td class='td-pad td-base'><%= contact.date_of_contact %></td>
    <td class='td-pad td-base'><%= contact.dur_of_contact %></td>
    <td class='td-pad td-base hidden lg:table-cell'><%= contact.note_hint %></td>
    <td scope="col" class="th-pad th-base-right">
      <button
        data-controller="modal"
        data-modal-dialog-param="edit_contact_modal"
        data-modal-contact_id=<%= contact.id %>
        class='link-hover'>
          Edit
      </button>
    </td>
    <td>
      <%= link_to( 'Delete',
              precert_contact_path(contact.precert, contact),
              class: 'text-base font-sans font-medium link-hover',
              data: { turbo_method: :delete,
                      turbo_confirm: "Are you sure?" }) %>
    </td>
  </tr>

  <dialog id="edit_contact_modal" aria-labelledby="edit_contact_modal_title">
    <%= render 'contacts/form/dialog_header', title: 'Edit Contact' %>
    <%= render 'contacts/form/form', contact: contact %>
  </dialog>
