  <tr class='<%= background %>' >
    <td class='td-pad td-base'>
      <%= link_to p2p.date_of_p2p,
              edit_precert_peer2peer_path(p2p.precert, p2p),
              class: "td-emphasized link-hover",
              data: { turbo_stream: true } %>
    </td>

    <td class='td-pad td-base hidden xl:table-cell'><%= p2p.dur_of_contact %></td>
    <td class='td-pad td-base hidden lg:table-cell'><%= p2p.provider_name %></td>
    <td class='td-pad td-base hidden lg:table-cell'><%= p2p.peer %></td>
    <td class='td-pad td-base'><%= p2p.note_hint %></td>
  </tr>
