<div class='min-w-fit'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1 class="font-sans font-bold text-lg">Log In</h1>

    <%= render 'devise/shared/form_field',
          f: f, label: 'Email', item: :email,
          autofocus: true, autocomplete: 'email' %>

    <%= render 'devise/shared/password_field',
          f: f, label: 'Password', item: :password,
          autofocus: false, autocomplete: 'password' %>


    <% if devise_mapping.rememberable? %>
      <%= render 'devise/shared/check_box',
            f: f, attrib: :remember_me %>
    <% end %>

    <%= render 'devise/shared/submit',
          f: f, label: 'Log in' %>

    <%= render "devise/shared/links" %>
  <% end %>
</div>
