<%= form_with(model: precert) do |form| %>
  <% if precert.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(precert.errors.count, "error") %> prohibited this precert from being saved:</h2>

      <ul>
        <% precert.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :patientMRN, style: "display: block" %>
    <%= form.text_field :patientMRN %>
  </div>

  <div>
    <%= form.label :diagnosis_id, style: "display: block" %>
    <%= form.select( 'diagnosis_id', Diagnosis.select_collection,
      { include_blank: false,
        prompt: true,
        selected: precert.diagnosis_id || true
      },
      { class: "block mt-2 py-3 pl-3 text-gray-900 font-medium rounded-md border-0 shadow ring",
        disabled: false
      }
    ) %>
  </div>

  <div>
    <%= form.label :insurer_id, style: "display: block" %>
    <%= form.select( :insurer_id, Insurer.select_collection,
      { include_blank: false,
        prompt: true,
        selected: precert.insurer_id || true
      },
      { class: "block mt-2 py-3 pl-3 text-gray-900 font-medium rounded-md border-0 shadow ring",
        disabled: false
      }
    ) %>
  </div>

  <div>
    <%= form.label :provider_id, style: "display: block" %>
    <%= form.select( :provider_id, Provider.select_collection,
      { include_blank: false,
        prompt: true,
        selected: precert.provider_id || true
      },
      { class: "block mt-2 py-3 pl-3 text-gray-900 font-medium rounded-md border-0 shadow ring",
        disabled: false
      }
    ) %>
  </div>

  <div>
    <%= form.label :service_id, style: "display: block" %>
    <%= form.select( :service_id, Service.select_collection,
      { include_blank: false,
        prompt: true,
        selected: precert.service_id || true
      },
      { class: "block mt-2 py-3 pl-3 text-gray-900 font-medium rounded-md border-0 shadow ring",
        disabled: false
      }
    ) %>
  </div>

  <div>
    <%= form.label :submitted, style: "display: block" %>
    <%= form.datetime_field :submitted %>
  </div>

  <div>
    <%= form.label :approved, style: "display: block" %>
    <%= form.datetime_field :approved %>
  </div>

  <div>
    <%= form.label :confirmation, style: "display: block" %>
    <%= form.text_field :confirmation %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_area :note %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
