<div class='grid auto-rows-min grid-rows-auto'>
  <header class='row-start-1 grid grid-cols-2 gap-3'>
    <h1 class="mb-2 text-2xl font-sans font-bold">Precert Detail</h1>
  </header>

  <div class='row-start-2 h-fit mb-3'>
    <%= render "shared/show/attrib_wide",
      attribute: @precert.patientMRN, label: 'MRN'
    %>
  </div>

  <div class='row-start-3 h-fit mb-3'>
    <%= render "shared/show/attrib_wide",
      attribute: @precert.provider.name, label: 'Provider'
    %>
  </div>

  <div class='row-start-4 h-fit mb-3'>
    <%= render "shared/show/attribs",
      attributes: [
        {attribute: @precert.diagnosis.name, label: 'Diagnosis'},
        {attribute: @precert.service.name, label: 'Service'},
      ]
    %>
  </div>

  <div class='row-start-5 h-fit mb-3'>
    <%= render "shared/show/attrib_wide",
      attribute: @precert.insurer.name, label: 'Insurer'
    %>
  </div>

  <div class='row-start-6 h-fit mb-3'>
    <%= render "shared/show/attribs",
      attributes: [
        {attribute: @precert.fmtd_submit_date, label: 'Submitted'},
        {attribute: @precert.fmtd_approve_date, label: 'Approved'},
      ]
    %>
  </div>

  <div class='row-start-7 h-fit mb-3'>
    <%= render "shared/show/attrib_wide",
      attribute: @precert.confirmation, label: 'Conf #'
    %>
  </div>

  <div class='row-start-8 h-fit mb-3'>
    <%= render "shared/show/note",
      attribute: @precert.note, label: 'Note'
    %>
  </div>
</div>
