<div id="<%= dom_id precert %>">
  <p>
    <strong>Patientmrn:</strong>
    <%= precert.patientMRN %>
  </p>

  <p>
    <strong>Diagnosis:</strong>
    <%= precert.diagnosis_id %>
  </p>

  <p>
    <strong>Insurer:</strong>
    <%= precert.insurer_id %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= precert.provider_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= precert.service_id %>
  </p>

  <p>
    <strong>Submitted:</strong>
    <%= precert.submitted %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= precert.approved %>
  </p>

  <p>
    <strong>Confirmation:</strong>
    <%= precert.confirmation %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= precert.note %>
  </p>

</div>
