  <tr class='<%= background %>' >
    <td class='td-pad'>
      <%= link_to item.id,
                  precert_path(item),
                  class: "td-emphasized link-hover" %>
    </td>
    <td class='td-pad td-base'><%= item.patientMRN %></td>
    <td class='td-pad td-base'><%= item.provider.name %></td>
    <td class='td-pad td-base'><%= item.diagnosis.name %></td>
    <td class='td-pad td-base'><%= item.service.name %></td>
    <td class='td-pad td-base'><%= item.insurer.name %></td>
    <td class='td-pad td-base'><%= item.fmtd_submit_date %></td>
    <td class='td-pad td-base hidden lg:table-cell'><%= item.fmtd_approval_date %></td>
    <td class='td-pad td-base hidden lg:table-cell'><%= item.confirm_hint %></td>
    <td class='td-pad td-base hidden lg:table-cell'><%= item.fmtd_closed_date %></td>
    <td class='td-pad td-base hidden lg:table-cell'><%= item.note_hint %></td>
  </tr>
