<% if notice.present? %>
<div class="grid grid-cols-1 justify-center mb-5 px-3 inline-block" id="notice">
  <p class='text-green-500 font-sans font-medium'><%= notice %></p>
</div>
<% end %>

<div class="grid grid-cols-2 justify-center mx-4">
  <div class='col-start-1 grid grid-rows-auto mx-4 min-w-80'>
    <div class='row-start-1 max-h-fit'>
      <%= render 'precerts/show/precert' %>
    </div>

    <div class='row-start-2 h-fit my-3'>
      <%= render "shared/show/edit_btn", path: edit_precert_path(@precert) %>
      <%= render "shared/show/back_btn", path: precerts_path %>
      <%= render "shared/show/delete_btn", path: precert_path(@precert) %>
    </div>

    <div class='row-start-3 h-fit -ml-4 mt-5'>
      <%= link_to "New Contact",
              new_precert_contact_path(@precert),
              class: 'btn-shape-thin btn-green btn-text',
              data: { turbo_stream: true } %>
      <%= link_to "New P2P",
              new_precert_peer2peer_path(@precert),
              class: 'btn-shape-thin btn-green btn-text',
              data: { turbo_stream: true } %>
    </div>
  </div>

  <div class='col-start-2 grid grid-rows-auto mx-4 lg:col-start-2'>
    <div>
      <%= render 'precerts/show/related_contacts', contacts: @precert.contacts %>
      <%= render 'precerts/show/related_p2ps', p2ps: @precert.peer2peers %>
    </div>
  </div>
</div>
