<p style="color: green"><%= notice %></p>

<div class="flex flex-col items-center justify-center">

  <div class='grid grid-rows-auto'>
    <div class='row-start-1 max-h-fit'>
      <%= render 'precert' %>
    </div>

    <div class='row-start-2 h-fit my-3'>
      <%= render "shared/show/edit_btn", path: edit_precert_path(@precert) %>
      <%= render "shared/show/back_btn", path: precerts_path %>
      <%= render "shared/show/delete_btn", path: precert_path(@precert) %>
      <%= render "shared/show/new_related_btn", path: new_precert_contact_path(@precert, @contact) %>
    </div>

    <div data-controller="contacts">
      <button data-action="contacts#showRelated">Show Contacts</button>

      <div data-target="contacts.show" style="visibility:hidden">
        <%= render 'precerts/related_contacts', precert: @precert, contacts: @contacts %>
      </div>
    </div>
  </div>

</div>
