<% if notice.present? %>
  <%= render 'layouts/notice_alert' %>
<% end %>

<div class="flex flex-col lg:flex-row lg:space-x-16 justify-center">
  <div class='flex-none w-84 flex flex-col'>
    <div class='flex-none max-h-fit'>
      <%= render 'precerts/show/precert' %>
    </div>

    <div class='flex-none h-fit my-3 space-x-4'>
      <%= render "shared/show/edit_btn", path: edit_precert_path(@precert) %>
      <%= render "shared/show/back_btn", path: precerts_path %>
      <%= render "shared/show/delete_btn", path: precert_path(@precert) %>
    </div>

    <div class='flex-none h-fit -ml-4 mt-5'>
      <%= link_to "New Contact",
              new_precert_contact_path(@precert),
              class: 'btn-shape-thin btn-green btn-text',
              data: { turbo_stream: true } %>
      <%= link_to "New P2P",
              new_precert_peer2peer_path(@precert),
              class: 'btn-shape-thin btn-green btn-text',
              data: { turbo_stream: true } %>
    </div>
  </div>

  <div class='flex-none w-84 lg:flex-auto grid grid-rows-auto mt-6 lg:mt-0'>
    <div>
      <%= render 'precerts/show/related_contacts', contacts: @precert.contacts %>
      <%= render 'precerts/show/related_p2ps', p2ps: @precert.peer2peers %>
    </div>
  </div>
</div>
