<p style="color: green"><%= notice %></p>

<div class="flex flex-col items-center justify-center">

  <div class='grid grid-rows-auto'>
    <div class='row-start-1 max-h-fit'>
      <%= render 'precert' %>
    </div>

    <div class='row-start-2 h-fit my-3'>
      <%= render "shared/show/edit_btn", path: edit_precert_path(@precert) %>
      <%= render "shared/show/back_btn", path: precerts_path %>
      <%= render "shared/show/delete_btn", path: precert_path(@precert) %>
      <%= render "shared/show/new_related_btn", path: new_precert_call_path(@precert, @call) %>
    </div>

    <div data-controller="calls">
      <button data-action="calls#showRelated">Show Calls</button>

      <div data-target="calls.show" style="visibility:hidden">
        <%= render 'precerts/related_calls', precert: @precert, calls: @calls %>
      </div>
    </div>
  </div>

</div>
