<p style="color: green"><%= notice %></p>

<div class="grid grid-col justify-center mx-10">
  <div class='col-start-1 grid grid-rows-auto -mx-10'>
    <div class='row-start-1 max-h-fit'>
      <%= render 'precert' %>
    </div>

    <div class='row-start-2 h-fit my-3'>
      <%= render "shared/show/edit_btn", path: edit_precert_path(@precert) %>
      <%= render "shared/show/back_btn", path: precerts_path %>
      <%= render "shared/show/delete_btn", path: precert_path(@precert) %>
    </div>

    <div class='row-start-3 h-fit -ml-4 mt-5'>
      <%= render partial: 'contacts/form' %>
    </div>
  </div>

  <div class='col-start-2 grid grid-rows-auto -mx-10'>
    <div data-controller="contacts">
      <div data-target="contacts.show" style="visibility:visible">
        <%= render 'precerts/related_contacts', contacts: @precert.contacts %>
      </div>
    </div>
  </div>
</div>
