<% if notice.present? %>
<div class="grid grid-col justify-center mb-5 px-3 inline-block" id="notice">
  <p class='text-green-500 font-sans font-medium'><%= notice %></p>
</div>
<% end %>

<div class="grid grid-col justify-center mx-10">
  <div class='col-start-1 grid grid-rows-auto -ml-10 min-w-80'>
    <div class='row-start-1 max-h-fit'>
      <%= render 'precert' %>
    </div>

    <div class='row-start-2 h-fit my-3'>
      <%= render "shared/show/edit_btn", path: edit_precert_path(@precert) %>
      <%= render "shared/show/back_btn", path: precerts_path %>
      <%= render "shared/show/delete_btn", path: precert_path(@precert) %>
    </div>

    <div class='row-start-3 h-fit -ml-4 mt-5'>
      <button
        data-controller="modal"
        data-modal-dialog-param="new_contact_modal"
        class='btn-shape-thin btn-green btn-text'>
          New Contact
      </button>

      <button
        data-controller="modal"
        data-modal-dialog-param="new_p2p_modal"
        class='btn-shape-thin btn-indigo btn-text'>
          New Peer-to-Peer
      </button>
    </div>

    <dialog id="new_contact_modal" aria-labelledby="new_contact_modal_title">
      <%= render partial: 'contacts/dialog_header' %>
      <%= render partial: 'contacts/form' %>
    </dialog>

    <dialog id="new_p2p_modal" aria-labelledby="new_p2p_modal_title">
      <%= render partial: 'peer2peers/dialog_header' %>
      <%= render partial: 'peer2peers/form' %>
    </dialog>
  </div>

  <div class='col-start-2 grid grid-rows-auto -mx-10'>
    <div>
      <%= render 'precerts/related_contacts', contacts: @precert.contacts %>
      <%= render 'precerts/related_p2ps', p2ps: @precert.peer2peers %>
    </div>
  </div>
</div>
