<ul>
	<li><%= render 'layouts/link', link: {path: offices_path,   label: 'Offices'} %></li>
	<li><%= render 'layouts/link', link: {path: diagnoses_path, label: 'Diagnoses'} %></li>
	<li><%= render 'layouts/link', link: {path: insurers_path,  label: 'Insurers'} %></li>
	<li><%= render 'layouts/link', link: {path: providers_path, label: 'Providers'} %></li>
	<li><%= render 'layouts/link', link: {path: services_path,  label: 'Services'} %></li>
	<li><%= render 'layouts/link', link: {path: precerts_path,  label: 'Precerts'} %></li>
</ul>