<nav class="flex flex-wrap w-full px-4 py-4 md:py-0 items-center justify-between text-lg text-gray-700 bg-white">
  <div class="flex space-x-7 bg-blue-200">
    <!--Website Logo-->
    <a href=<%= root_path %> class="flex items-center py-4 px-2">
    	<%= image_tag("logo.png", alt: "Logo", class: 'h-8 w-8 mr-2') %>
      <span class="font-semibold text-gray-500 text-lg">Sleep Precerts</span>
    </a>
  </div>

 	<div data-navbar-target="menu" class="hidden w-full md:flex md:items-center md:w-auto z-20 bg-red-100">
		<ul class="pt-4 text-lg text-gray-700 md:flex md:flex-row md:justify-between md:pt-0">
			<li><%= render 'layouts/link', link: {path: offices_path,   label: 'Offices'} %></li>
			<li><%= render 'layouts/link', link: {path: diagnoses_path, label: 'Diagnoses'} %></li>
			<li><%= render 'layouts/link', link: {path: insurers_path,  label: 'Insurers'} %></li>
			<li><%= render 'layouts/link', link: {path: providers_path, label: 'Providers'} %></li>
			<li><%= render 'layouts/link', link: {path: services_path,  label: 'Services'} %></li>
			<li><%= render 'layouts/link', link: {path: precerts_path,  label: 'Precerts'} %></li>
		</ul>
	</div>
</nav>
